* {
    box-sizing: border-box;
}

html {
    background-color: burlywood;
}

.header {
    color: teal;
    box-shadow:  ;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0%;
    font-family: 'Young Serif', serif;
    text-decoration: underline;
}

.bookContainer {
    display: grid;
    grid-area: library;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.bookCard {
    display: block;
    border: thin solid black;
    border-radius:10px;
    background-color: #a16337;
    text-align: center;
    box-shadow: 4px 5px ;
    width: 400px;
    height: 300px;
    font-size: 25px;
    font-family: 'IM Fell Great Primer SC', serif;
    padding-top: 35px;
}

.title {
    padding-top: 10px;
}

.author {
    padding-top: 10px;
}

.pages {
    padding-top: 10px;
}

.read {
    padding-top: 10px;
}

.form-container {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.formPopup {
    background-color: rgb(219, 147, 79);
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    width: 400px;
    height: 450px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}

.formHeader {
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
}

.formInput {
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #888;
    height: 40px;
    width: 90%;
    font-size: 20px;
}

.btnCloseForm {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 15px;
    width: 100px;
    border-radius: 20px;
}

.btnAddBook {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 15px;
    margin: 20px 15px 0px 0px;
    width: 100px;
    border-radius: 20px;
}

.requiredField {
    border: 2px solid red;
}

.bookBTN {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'IM Fell Great Primer SC', serif;
}

.bookBTN:hover, .readStatus:hover, .deleteBook:hover {
  background-color: #fff;
}

.bookBTN:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .bookBTN {
    min-width: 120px;
    padding: 0 25px;
  }
}

.readStatus, .deleteBook {
    background-color: burlywood;
    border-radius: 5px;
    box-shadow: #422800;
    cursor: pointer;
    display: inline-block;
    padding: 5 18px;
    font-weight: 550;
}

.readStatus:active, .deleteBook:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(1px 1px);
}
